.App {
    padding: 30px;
    display: flex;
}

.App > div {
    margin-right: 50px;
}


.isDone {
    color: #6994ff;
    font-weight: bold;
    text-decoration: line-through;
}

.bnt-active {
    color: #ffffff;
    background-color: #6994ff;
    border: 2px solid #6994ff;
}

.error {
    border: 2px solid red;
    outline: none;
}

.error-message {
    color: red;
}